In [1]:
import os

In [2]:
os.makedirs(os.path.join('..', 'data'), exist_ok=True)

data_file = os.path.join('..', 'data', 'house_tiny.csv')

with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

### 2.2.1 读取数据

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv(data_file)

In [5]:
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

### 2.2.2 处理缺失值

In [6]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]

In [11]:
inputs = inputs.fillna(inputs.mean(numeric_only=True))

In [12]:
inputs

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

In [13]:
inputs = pd.get_dummies(inputs, dummy_na=True)

In [14]:
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

### 2.2.3 将pandas DataFrame转为tensor

In [15]:
type(inputs)

pandas.core.frame.DataFrame

In [16]:
import torch

In [17]:
X = torch.tensor(inputs.to_numpy(dtype=float))

In [18]:
X

tensor([[3., 1., 0.],
        [2., 0., 1.],
        [4., 0., 1.],
        [3., 0., 1.]], dtype=torch.float64)

In [19]:
Y = torch.tensor(outputs.to_numpy(dtype=float))

In [20]:
Y

tensor([127500., 106000., 178100., 140000.], dtype=torch.float64)